<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="feelingprojects.recibeunasonrisa" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sonrisagroc"
        android:label="@string/app_name"
        android:screenOrientation="portrait">
        <activity
            android:name=".Desplegable"
            android:label="Recibe Una Sonrisa"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name=".Inici"
            android:label="Recibe Una Sonrisa"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Bienvenida"
            android:label="@string/title_activity_bienvenida"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".SecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fragment7_registrat"
            android:label="Administrar comunidad"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".FirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro1"
            android:label="Registrate"
            android:screenOrientation="portrait"
            android:icon="@drawable/sonrisagris2"
            android:theme="@android:style/Theme.Holo.Light"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Registro2"
            android:label="Registro"
            android:screenOrientation="portrait"
            android:icon="@drawable/sonrisagris2"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name=".Desplegable_registrat"
            android:label="Recibe Una Sonrisa"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name=".Imatge_ampliada"
            android:label="@string/title_activity_imatge_ampliada"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>

    </application>

</manifest>
